<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-eureka:war">
    <output-path>$PROJECT_DIR$/spring-mvc-eureka/target</output-path>
    <root id="archive" name="spring-mvc-eureka-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-eureka:war exploded" />
    </root>
  </artifact>
</component>